name: Flutter CI/CD

on:
  push:
    branches:
      - main

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.3'
        channel: 'stable'
        
    - name: enable web
      run: flutter config --enable-web

    - name: Clean dependencies
      run: flutter clean

    - name: Get dependencies
      run: flutter pub get

    - name: Run tests
      run: flutter test

    - name: Build Web App
      run: flutter build web

    - name: Read version number from pubspec.yaml
      id: read-version
      run: |
        version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2)
        echo "version=$version" >> $GITHUB_ENV

    - name: Create Container for web (latest)
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/createaccount:latest .

    - name: Create Container for web (version tag)
      run: docker tag ${{ secrets.DOCKERHUB_USERNAME }}/createaccount:latest ${{ secrets.DOCKERHUB_USERNAME }}/createaccount:${{ env.version }}

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Push Docker image to Docker Hub (latest)
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/createaccount:latest

    - name: Push Docker image to Docker Hub (version tag)
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/createaccount:${{ env.version }}
